This file serves as the beginning towards my research showing the not-applicablility of Yuanfang method to this drugcombdb.
1) See to what extent I can rebuild their model
2) with reduced data from drugcombdb
3) applied to 1 drugcombdb source
4) applied to extended sources<br>
<br>If I have time later, I can consider trying to implement this mouse-gene method or look at their cell representations

Central claim: The main outcome of Yuanfang is purely owed to the monotherapy predictor

In [2]:
import numpy as np
import pandas as pd

This is the "Quality Control" information, an inappropriate name imo

In [5]:
data = pd.read_csv("./ch1_train_combination_and_monoTherapy.csv")
print(data.shape)
data.head(2)

(2199, 14)

,CELL_LINE,COMPOUND_A,COMPOUND_B,MAX_CONC_A,MAX_CONC_B,IC50_A,H_A,Einf_A,IC50_B,H_B,Einf_B,SYNERGY_SCORE,QA,COMBINATION_ID
0,BT-20,AKT,ADAM17,1.0,75.0,1.000000,0.809002,59.122436,9.639714,0.757977,91.593425,29.54039,1,ADAM17.AKT
1,CAL-120,AKT,ADAM17,1.0,75.0,0.183214,2.503678,60.411999,1.000000,0.000000,100.000000,4.40141,-1,ADAM17.AKT

Why are there only 2199 records? I'd lowkey expect 11k

In [15]:
data[data["CELL_LINE"].str.lower()=="vcap"]

,CELL_LINE,COMPOUND_A,COMPOUND_B,MAX_CONC_A,MAX_CONC_B,IC50_A,H_A,Einf_A,IC50_B,H_B,Einf_B,SYNERGY_SCORE,QA,COMBINATION_ID
125,VCaP,ERBB,AKT,3.0,1.0,0.814719,2.565062,77.342449,0.437597,1.396308,57.875531,5.142114,1,AKT.ERBB
1905,VCaP,PIK3CB_PIK3CD,PIK3CB_PIK3CD,1.0,1.0,1.000000,0.225404,56.634046,0.010625,10.000000,0.000000,-128.049100,-3,PIK3CB_PIK3CD.PIK3CB_PIK3CD

Next: Get Raw Data (appentrly I can't copy them from Drugcombdb bc they don't seem to exist there)

In [35]:
# Import libraries
import glob
import pandas as pd

# Get CSV files list from a folder
path = './ch1_training'
csv_files = glob.glob(path + "/*.csv")

In [64]:
df_list = (pd.DataFrame(np.array(pd.read_csv(file,header=None)).flatten()).transpose() for file in csv_files)
df   = pd.concat(df_list, ignore_index=True)

In [65]:
#very ugly containing all information
df

,0,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,100,101,102,103
0,NaN,0,0.03,0.1,0.3,1.0,3.0,(=Agent 2),0,100,...,NaN,NaN,Title,SW900,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,0,0.03,0.1,0.3,1.0,3.0,(=Agent 2),0,100,...,NaN,NaN,Title,NCI-H838,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,0,0.03,0.1,0.3,1.0,3.0,(=Agent 2),0,100,...,NaN,NaN,Title,NCI-H522,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,0,0.03,0.1,0.3,1.0,3.0,(=Agent 2),0,100,...,NaN,NaN,Title,NCI-H520,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,0,0.03,0.1,0.3,1.0,3.0,(=Agent 2),0,100,...,NaN,NaN,Title,NCI-H358,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2194,NaN,0,0.75,2.5,7.5,25.0,75.0,(=Agent 2),0,100,...,NaN,NaN,Title,HCC1143,NaN,NaN,NaN,NaN,NaN,NaN
2195,NaN,0,0.75,2.5,7.5,25.0,75.0,(=Agent 2),0,100,...,NaN,NaN,Title,DU-4475,NaN,NaN,NaN,NaN,NaN,NaN
2196,NaN,0,0.75,2.5,7.5,25.0,75.0,(=Agent 2),0,100,...,NaN,NaN,Title,CAL-51,NaN,NaN,NaN,NaN,NaN,NaN
2197,NaN,0,0.75,2.5,7.5,25.0,75.0,(=Agent 2),0,100,...,NaN,NaN,Title,CAL-120,NaN,NaN,NaN,NaN,NaN,NaN
2198,NaN,0,0.75,2.5,7.5,25.0,75.0,(=Agent 2),0,100,...,NaN,NaN,Title,BT-20,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
everything in loc columns
1. col 65 is Agent1
2. col 73 Agent2
3. columns 1:7 conc Agent 2
4. columns [8,16,24,32,40,48] conc Agent 1
5. Monotherapy values +1 for agent1, +8 on both ends of the array for agent2

In [89]:
df.loc[:,[8,16,24,32,40,48]]

     8     16    24   32   40 48          56      64
0     0  0.03   0.1  0.3    1  3  (=Agent 1)  Agent1
1     0  0.01  0.03  0.1  0.3  1  (=Agent 1)  Agent1
2     0  0.03   0.1  0.3    1  3  (=Agent 1)  Agent1
3     0  0.03   0.1  0.3    1  3  (=Agent 1)  Agent1
4     0  0.01  0.03  0.1  0.3  1  (=Agent 1)  Agent1
...  ..   ...   ...  ...  ... ..         ...     ...
2194  0  0.01  0.03  0.1  0.3  1  (=Agent 1)  Agent1
2195  0  0.01  0.03  0.1  0.3  1  (=Agent 1)  Agent1
2196  0  0.01  0.03  0.1  0.3  1  (=Agent 1)  Agent1
2197  0  0.01  0.03  0.1  0.3  1  (=Agent 1)  Agent1
2198  0  0.01  0.03  0.1  0.3  1  (=Agent 1)  Agent1

[2199 rows x 8 columns]