### Global Classifier from Yuanfang

The global classifier from the Yuanfang Paper on the challenge has proven so much more successful than my current model, that I start to believe that the specific monotherapy data are simply better predictors than my chemical features. This would also be a finding

In [1]:
import numpy as np
import pandas as pd
import _pickle as pkl

In [10]:
df1 = pd.read_csv("../drugCombDBdata/drugcombs_response.csv")
print(df1.shape)
df = df1[0:10000]

(6103237, 11)

In [16]:
df1[df1["source"]!="ONEIL"]

,BlockID,Row,Col,DrugRow,DrugCol,ConcRow,ConcCol,Response,ConcRowUnit,ConcColUnit,source
2305200,92209,1,1,RAMELTEON,BRETYLIUM TOSYLATE,0.00,0.000000,100.630626,uM,uM,CLOUD
2305201,92209,1,2,RAMELTEON,BRETYLIUM TOSYLATE,0.00,84.100000,81.830836,uM,uM,CLOUD
2305202,92209,2,1,RAMELTEON,BRETYLIUM TOSYLATE,0.13,0.000000,81.699816,uM,uM,CLOUD
2305203,92209,2,2,RAMELTEON,BRETYLIUM TOSYLATE,0.13,84.100000,92.778405,uM,uM,CLOUD
2305204,92210,1,1,3-AMINO-2-OXAZOLIDINONE,METYROSINE,0.00,0.000000,100.630626,uM,uM,CLOUD
...,...,...,...,...,...,...,...,...,...,...,...
6103232,469612,10,6,Topotecan hydrochloride,Topotecan hydrochloride,0.00,0.015625,72.243140,uM,uM,nih
6103233,469612,10,7,Topotecan hydrochloride,Topotecan hydrochloride,0.00,0.007812,93.904594,uM,uM,nih
6103234,469612,10,8,Topotecan hydrochloride,Topotecan hydrochloride,0.00,0.003906,92.027180,uM,uM,nih
6103235,469612,10,9,Topotecan hydrochloride,Topotecan hydrochloride,0.00,0.001953,94.410020,uM,uM,nih
6103236,469612,10,10,Topotecan hydrochloride,Topotecan hydrochloride,0.00,0.000000,98.345560,uM,uM,nih

In [28]:
# map blockID with cell type

In [5]:
df[df["ConcRowUnit"]!="uM"]
df.head(26)

,BlockID,Row,Col,DrugRow,DrugCol,ConcRow,ConcCol,Response,ConcRowUnit,ConcColUnit,source
0,1,1,1,5-FU,ABT-888,0.00,0.00,100.000626,uM,uM,ONEIL
1,1,1,2,5-FU,ABT-888,0.00,0.35,101.993009,uM,uM,ONEIL
2,1,1,3,5-FU,ABT-888,0.00,1.08,100.957673,uM,uM,ONEIL
3,1,1,4,5-FU,ABT-888,0.00,3.25,99.930372,uM,uM,ONEIL
4,1,1,5,5-FU,ABT-888,0.00,10.00,98.861202,uM,uM,ONEIL
5,1,2,1,5-FU,ABT-888,0.35,0.00,101.753521,uM,uM,ONEIL
6,1,2,2,5-FU,ABT-888,0.35,0.35,97.081513,uM,uM,ONEIL
7,1,2,3,5-FU,ABT-888,0.35,1.08,112.350610,uM,uM,ONEIL
8,1,2,4,5-FU,ABT-888,0.35,3.25,104.343016,uM,uM,ONEIL
9,1,2,5,5-FU,ABT-888,0.35,10.00,91.929218,uM,uM,ONEIL
10,1,3,1,5-FU,ABT-888,1.08,0.00,97.589743,uM,uM,ONEIL
11,1,3,2,5-FU,ABT-888,1.08,0.35,102.864262,uM,uM,ONEIL
12,1,3,3,5-FU,ABT-888,1.08,1.08,100.741621,uM,uM,ONEIL
13,1,3,4,5-FU,ABT-888,1.08,3.25,81.645056,uM,uM,ONEIL
14,1,3,5,5-FU,ABT-888,1.08,10.00,86.363925,uM,uM,ONEIL
15,1,4,1,5-FU,ABT-888,3.25,0.00,84.949945,uM,uM,ONEIL
16,1,4,2,5-FU,ABT-888,3.25,0.35,81.445424,uM,uM,ONEIL
17,1,4,3,5-FU,ABT-888,3.25,1.08,79.231215,uM,uM,ONEIL
18,1,4,4,5-FU,ABT-888,3.25,3.25,69.590179,uM,uM,ONEIL
19,1,4,5,5-FU,ABT-888,3.25,10.00,63.652989,uM,uM,ONEIL
20,1,5,1,5-FU,ABT-888,10.00,0.00,60.293230,uM,uM,ONEIL
21,1,5,2,5-FU,ABT-888,10.00,0.35,54.341305,uM,uM,ONEIL
22,1,5,3,5-FU,ABT-888,10.00,1.08,49.611875,uM,uM,ONEIL
23,1,5,4,5-FU,ABT-888,10.00,3.25,54.252406,uM,uM,ONEIL
24,1,5,5,5-FU,ABT-888,10.00,10.00,54.799380,uM,uM,ONEIL
25,2,1,1,5-FU,ABT-888,0.00,0.00,100.000626,uM,uM,ONEIL