### Global Classifier from Yuanfang

The global classifier from the Yuanfang Paper on the challenge has proven so much more successful than my current model, that I start to believe that the specific monotherapy data are simply better predictors than my chemical features. This would also be a finding

In [3]:
import numpy as np
import pandas as pd
import _pickle as pkl

In [4]:
df1 = pd.read_csv("../drugCombDBdata/drugcombs_response.csv")
print(df1.shape)

(6103237, 11)

In [65]:
df1[df1["source"]=="ONEIL"]

,BlockID,Row,Col,DrugRow,DrugCol,ConcRow,ConcCol,Response,ConcRowUnit,ConcColUnit,source
0,1,1,1,5-FU,ABT-888,0.0,0.0000,100.000626,uM,uM,ONEIL
1,1,1,2,5-FU,ABT-888,0.0,0.3500,101.993009,uM,uM,ONEIL
2,1,1,3,5-FU,ABT-888,0.0,1.0800,100.957673,uM,uM,ONEIL
3,1,1,4,5-FU,ABT-888,0.0,3.2500,99.930372,uM,uM,ONEIL
4,1,1,5,5-FU,ABT-888,0.0,10.0000,98.861202,uM,uM,ONEIL
...,...,...,...,...,...,...,...,...,...,...,...
2305195,92208,5,1,TEMOZOLOMIDE,MK-8776,250.0,0.0000,43.006480,uM,uM,ONEIL
2305196,92208,5,2,TEMOZOLOMIDE,MK-8776,250.0,0.0925,43.007115,uM,uM,ONEIL
2305197,92208,5,3,TEMOZOLOMIDE,MK-8776,250.0,0.3250,43.005685,uM,uM,ONEIL
2305198,92208,5,4,TEMOZOLOMIDE,MK-8776,250.0,1.1500,43.006216,uM,uM,ONEIL
2305199,92208,5,5,TEMOZOLOMIDE,MK-8776,250.0,4.0000,71.188856,uM,uM,ONEIL

In [28]:
# map blockID with cell type

In [52]:
df2 = pd.read_csv("../drugCombDBdata/synergy-score-data/REGRdrugcombs_scored.csv")

In [60]:
cellBlockDf = df2.loc[:,["ID","Cell line"]]

In [86]:
df = df1.join(cellBlockDf.set_index("ID"),on="BlockID")
df.head()

,BlockID,Row,Col,DrugRow,DrugCol,ConcRow,ConcCol,Response,ConcRowUnit,ConcColUnit,source,Cell line
0,1,1,1,5-FU,ABT-888,0.0,0.00,100.000000,uM,uM,ONEIL,A2058
1,1,1,2,5-FU,ABT-888,0.0,0.35,100.000000,uM,uM,ONEIL,A2058
2,1,1,3,5-FU,ABT-888,0.0,1.08,100.000000,uM,uM,ONEIL,A2058
3,1,1,4,5-FU,ABT-888,0.0,3.25,99.930372,uM,uM,ONEIL,A2058
4,1,1,5,5-FU,ABT-888,0.0,10.00,98.861202,uM,uM,ONEIL,A2058

In [89]:
# set values above 100 to exactly 100. Those are fluctuations in the experimental data
for i in range(len(df)):
    if df["Response"][i]>100:
        df["Response"][i] = 100

<ipython-input-89-55e3555bf09e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Response"][i] = 100

In [122]:
dfGrouped = df.groupby("BlockID").first()

In [123]:
dfForSecondScoring = dfGrouped["source"]

In [131]:
dfGrouped[]

,Row,Col,DrugRow,DrugCol,ConcRow,ConcCol,Response,ConcRowUnit,ConcColUnit,source,Cell line
BlockID,,,,,,,,,,,
1,1,1,5-FU,ABT-888,0.0,0.0,100.0,uM,uM,ONEIL,A2058
2,1,1,5-FU,ABT-888,0.0,0.0,100.0,uM,uM,ONEIL,A2058
3,1,1,5-FU,ABT-888,0.0,0.0,100.0,uM,uM,ONEIL,A2058
4,1,1,5-FU,ABT-888,0.0,0.0,100.0,uM,uM,ONEIL,A2058
5,1,1,5-FU,AZD1775,0.0,0.0,100.0,uM,uM,ONEIL,A2058
...,...,...,...,...,...,...,...,...,...,...,...
91028,1,1,TEMOZOLOMIDE,MK-4827,0.0,0.0,100.0,uM,uM,ONEIL,A2058
91029,1,1,TEMOZOLOMIDE,MK-8776,0.0,0.0,100.0,uM,uM,ONEIL,A2058
91030,1,1,TEMOZOLOMIDE,MK-8776,0.0,0.0,100.0,uM,uM,ONEIL,A2058
91031,1,1,TEMOZOLOMIDE,MK-8776,0.0,0.0,100.0,uM,uM,ONEIL,A2058
91032,1,1,TEMOZOLOMIDE,MK-8776,0.0,0.0,100.0,uM,uM,ONEIL,A2058